{% for server in ntp_server_pool %}
server {{ server }}
{% endfor %}

driftfile /var/lib/ntp/ntp.drift

restrict default ignore

restrict 127.0.0.1

{% for subnet in ntp_allowed_subnets %}
restrict {{ subnet | ipaddr('address') }} mask {{ subnet | ipaddr('netmask') }} limited kod nomodify nopeer notrap
{% endfor %}
